language: ruby
rvm:
  - 2.1.2
  - 2.1.1
  - 2.1.0
  - 2.0.0
  - 1.9.3
  - rbx-19mode
  - jruby-19mode
env:
  - DB=mysql
  - DB=postgres
gemfile:
  - Gemfile
  - ci/gemfiles/rspec2_14_rails4_0.gemfile
  - ci/gemfiles/rspec2_14_rails3_2.gemfile
before_script:
  - ci/script/create_db.sh
  - bundle exec rake db:test:reset --trace
script: bundle exec rspec -b
